.cardProductos {
    background-color: rgb(173, 166, 166);
    border-radius: 10px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.cardProductos img {
    width: 200px;
    object-fit: contain;
}

.cardProductos button {
    background-color: rgb(41, 38, 38);
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}